apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "zcicd.fullname" . }}-config
  labels:
    {{- include "zcicd.labels" . | nindent 4 }}
data:
  DATABASE_HOST: {{ .Values.authService.env.DATABASE_HOST | default "zcicd-pg-postgresql" | quote }}
  DATABASE_PORT: {{ .Values.authService.env.DATABASE_PORT | default "5432" | quote }}
  DATABASE_DBNAME: {{ .Values.authService.env.DATABASE_DBNAME | default "zcicd" | quote }}
  DATABASE_SSLMODE: "disable"
  REDIS_ADDR: {{ .Values.authService.env.REDIS_ADDR | default "zcicd-redis-master:6379" | quote }}
  NATS_URL: {{ .Values.authService.env.NATS_URL | default "nats://zcicd-nats:4222" | quote }}
  SERVER_MODE: {{ .Values.authService.env.SERVER_MODE | default "release" | quote }}
  MINIO_ENDPOINT: "zcicd-minio:9000"
  MINIO_USE_SSL: "false"
  LOG_LEVEL: "info"
  LOG_FORMAT: "json"
